@charset "UTF-8";

:root {
    --text-primary: black;
    --text-secondary: white;
    --bg-1: #62366B;
    --bg-2: #E6BEEE;
    --bg-3: #D775EB;
    --bg-4: #6A4971;
    --bg-5: #A85CB8;
    --bg-img: url(../Icons/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-2);
}

img {
    height: 80px;
    width: 80px;
}

.home {
    height: 6rem;
    width: 100vw;
    background-color: var(--bg-1);
    display: flex;
    justify-content: flex-start;
}

.form-container {
    font-weight: 900;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.form-name {
    height: 80px;
}

.form-select {
    height: 80px; 
    border-color: var(--bg-2);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-data {
    height: 80px; 
    margin-top: 25px;
}

.form-hour {
    height: 80px; 
}

.btn-schedule > button{
    color: var(--bg-2);
    border-color: var(--bg-2);
    background-color: var(--bg-1);
    border-radius: 15px;
    width: 300px;
    height: 60px;
    font-size: 1.2em;
}

button:hover {
    transition: 0.2s linear;
    background-color: white;
    cursor: pointer;
}
