@charset "UTF-8";

:root {
    --text-primary: black;
    --text-secondary: white;
    --bg-1: #62366B;
    --bg-2: #E6BEEE;
    --bg-3: #D775EB;
    --bg-4: #6A4971;
    --bg-5: #A85CB8;
    --bg-img: url(../Icons/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: var(--bg-img);
    font-family: Arial, Helvetica, sans-serif;
}

 

fieldset {
    background-image: linear-gradient(to bottom, var(--bg-2) , rgba(255, 255, 255, 0.397));
    border: none;
    border-radius: 10px;
}

.form-container {
    width: 100vw;
    height: 100vh; 
    font-size: 1.0em;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.login-form {
    width: 500px;
    height: 300px;
    font-weight: 800;
    
}

.form-cell {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 15px;
}

button {
    width: 100px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
}

button:hover {
    transition: 0,3s;
    background-color: var(--bg-2);
}



ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
}

form ul li a {
    text-decoration: none;
    color: var(--bg-4);
}

form ul li a:hover {
    text-decoration: underline;
}