:root {
    --text-primary: black;
    --text-secondary: white;
    --bg-1: rgb(77, 47, 77);
    --bg-2: rgba(216, 162, 247, 0.904);
    --bg-img: url(../Icons/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-2);
}

img {
    height: 80px;
    width: 80px;
}

.home {
    height: 6rem;
    width: 100vw;
    background-color: var(--bg-1);
    display: flex;
    justify-content: flex-start;
}

.img-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px 0px;
    
}

li {
    display: inline-block;
    color: var(--text-secondary);
    font-weight: 900;
    font-size: x-large;
    
}

li > p {
    margin: 6px;
}

li > h2 {
    margin: 6px;
}

.leg {
    font-size: small;
    color: var(--text-primary);
    margin-top: 0;
    margin-bottom: 10px;
}



.img {
    width: auto;
    height: 300px;
}
